.app {
  text-align: center;
  padding: 0 24px;
}

.logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
}

.text {
  margin-top: 64px;
}
.brow{
  color:black;
}

.header {
  padding-top: 5%;
  font-size: 45px;
  background-color: #FFE4B5 !important;
  flex-direction: row-reverse;
}
.body .inputs{
  border-style: solid;
  border-width: 0.1ch;
  border-radius: 15px;
  border-color:black;
}

.body .times{
  flex-grow: 2;

}
.header .logo{
  margin-right: 60px;

}
.option{
  background-color: darkgrey;
}
