.app {
  text-align: center;
  padding: 0 24px;
}

.logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
}

.text {
  margin-top: 64px;
}
.brow{
  color:black;
}
.header {
  padding-top: 5%;
  font-size: 45px;
  color:#FFE4B5;
  background-color: #FFE4B5 !important;
  /*justify-content: center;
  align-items: flex-start;*/
  flex-direction: row-reverse;
}
.header .logo{
  margin-right: 60px;

}
